#main {
	background-color: #f1f1f1;
}

.sidebar-collapse.btn-floating {
	background-color: #07DAC0;
}

.page-footer {
	background-color: #171810;
}

.navbar-color {
	background-color: #171810;
}

.logo-wrapper {
	background-color: #07DAC0;
}

.toolbar, .dt-buttons {
	margin: 20px 0px;
	background-color: #171810;
/* 	background-color: #087aae; */
	padding: 10px !important;
	border-radius: 10px;
}

.toolbar .divider {
	border-left: 10px solid #171810;
	margin: 0 5px;
}

.toolbar .btn.btn-floating, .dt-buttons .btn.btn-floating {
	background-color: #07DAC0;
}

.input-field .select2.select2-container {
	margin-bottom: 20px;
}